* {
  font-family: cursive;
}

body {
  font-size: 24px;
}

/* p:hover {
  font-family: 'Courier New', Courier, monospace;
} */

/* #first>p {
  color: green;
} */

#first, #second, #third {
  color: red;
}

#second {
  color: blue;
}

.purple {
  color: purple /* !important */;
  /* font-family: monospace; */
}

.highlight {
  background-color: yellow;
  font-weight: bolder;
  font-style: italic;
}